body {
  text-align: center;
}

.grid-parent {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 33%);
  grid-template-rows: repeat(3, 33%);
  grid-template-areas:
    "tl t tr"
    "l tar r"
    "bl b br";
}

.grid-child {
  /* background-color: #fff; */
  box-sizing: border-box;
  padding: 10px;
}

.transform {
  transform: scale(1.1);
  /* transition: transform 500ms ease; */
}

#top-left {
  grid-area: tl;
}
#top {
  grid-area: t;
}
#top-right {
  grid-area: tr;
}
#left {
  grid-area: l;
}
#target {
  grid-area: tar;
  border: solid;
  transition: all 0.5s ease;
}
#right {
  grid-area: r;
}
#bot-left {
  grid-area: bl;
}
#bot {
  grid-area: b;
}
#bot-right {
  grid-area: br;
}

.slider {
  /* -webkit-appearance: none; */

  width:60%;
  margin: auto;
  display: block;
  /* outline: none; */
  height: 25px;

}